@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Mynerve', cursive;
}

body {
  background-color: whitesmoke;
}

.container {
  width: 70%;
  margin: auto;
  margin-top: 10%;
  border: 1px solid black;
  padding: 0 5% 0 5%;
  overflow: hidden;
}

#task-list {
  display: flex;
  flex-direction: column;
  margin-left: -40px;
}

#task-list li {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 120%;
  margin: auto;
  margin-left: -8%;
  height: auto;
  min-height: 40px;
  border-top: 1px solid grey;
  overflow: hidden;
  padding-top: 10px;
}

#delete-checked-tasks-button {
  width: 117.3%;
  margin-left: -8.5%;
  height: 40px;
  font-size: 17px;
  color: gray;
}

.task-desc {
  margin: auto;
  width: 100%;
  margin-left: -1%;
}

input[type=text] {
  width: 117.3%;
  margin-left: -8.5%;
  height: 40px;
}

input::placeholder {
  font-style: italic;
  font-size: 15px;
}

.checkboxes {
  margin-right: 3%;
}

.delete-task-button {
  height: 20px;
  margin: auto;
  margin-right: 5%;
  cursor: pointer;
}

h1 {
  font-size: 20px;
  margin-left: -7.5%;
  display: flex;
  width: 110%;
  justify-content: space-between;
}

.edit-desc {
  width: 80%;
}

.completed .task-desc {
  text-decoration: line-through;
}

button {
  cursor: pointer;
}

i {
  cursor: pointer;
}
